<!DOCTYPE html>
<html lang="en">
<head id="mainHead">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OSI</title>
    <meta property="og:title" content="Objedinjena Serverska Infrastruktura" />
    <meta property="og:type" content="info.sys" />
    <meta property="og:description" content="Vuk Ilic &copy; 2023." />
    <meta property="og:url" content="ebiblioteka.bsite.net" />
    <meta property="og:image" content="/resources/thumbnail.jpeg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OSI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/manifest.js"></script>
    <script src="/js/vendor.js?"></script>
</head>
<body style="font-family: MainFont;">
    <div class="container">
        <main role="main" class="pb-3">
             @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
