@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Auth";
}
<body id="coreId">
    <div class="display-4 align-content-center main-div">
        <br />
        <h1 class="text-center">Dobro došli</h1>
        <h1 class="text-center" style="font-family: OSIFont;">OpenOSI</h1>
        <button style="margin-left: 45%; margin-right: 45%; align-self: center;" class="btn-main" onclick="location.href = '/otvoreni-podaci'">Nastavi</button>
        <br />
    </div>
    <div style="display:grid; border-radius: 5px; background:rgba(12,33,68,.7);max-height:100px; width:100%">
        <img src="/resources/main_logo.svg" style="align-self: center; max-height: 100px;" class="center" alt="vuk">
    </div>
</body>
