@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetujte potvrdu lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
   Vaša lozinka je resetovana. Molimo <a asp-page="./Login">kliknite ovde da biste se prijavili</a>.
</p>
